version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    labels:
        - "dependencies"
    groups:
      all:
        patterns: [ "*" ]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    labels:
        - "dependencies"
        - "github-actions"
    groups:
      all-actions:
        patterns: [ "*" ]

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "22:00"
    labels:
        - "dependencies"
        - "docker"
    groups:
      all-images:
        patterns: [ "*" ]