[*.cs]

# RCS1021: Convert lambda expression body to expression-body.
dotnet_diagnostic.RCS1021.severity = none

# RCS1090: Add call to 'ConfigureAwait' (or vice versa).
dotnet_diagnostic.RCS1090.severity = none

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# RCS1036: Remove redundant empty line.
dotnet_diagnostic.RCS1036.severity = none

# RCS1102: Make class static.
dotnet_diagnostic.RCS1102.severity = none

# RCS1037: Remove trailing white-space.
dotnet_diagnostic.RCS1037.severity = none
csharp_using_directive_placement=inside_namespace:silent
csharp_prefer_simple_using_statement=true:error
csharp_style_var_for_built_in_types=true:silent
csharp_style_var_when_type_is_apparent=true:silent
csharp_style_var_elsewhere=true:silent
csharp_style_prefer_pattern_matching=true:suggestion

[*.{cs,vb}]
dotnet_style_prefer_is_null_check_over_reference_equality_method=true:suggestion